.app__categories {
  display: flex;
  flex-direction: column;
  background-color: #272827;
  color: white;
  align-items: center;
  padding: 0 2rem;
  margin: 1rem 1rem;
  border-radius: 25px;
}

.category_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}