.wrap {
    display: flex;
}

.left {
    margin-right: 10px;
}

.calendar {
    flex-grow: 1;
}

.calendar_default_colheader_inner:hover {
    background-color: #ccc;
    cursor: pointer;
}

.toolbar {
    margin: 5px 0px;
}

.toolbar span {
    margin-right: 5px;
}

.toolbar button {
    display: inline-block;
    text-align: center;
    background-color: #3c78d8;
    border: 1px solid #1155cc;
    color: #fff;
    padding: 6px 20px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    width: 90px;
    text-decoration: none;
}

select {
    padding: 3px;
}
