.app__filterbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #272827;
    color: white;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem 1rem;
    border-radius: 25px;
  }
  
  .filterbox_item {
    margin: 1rem 1rem;
  }

  .filterbox_label {
    margin: 0 1rem;
  }